<p>Selecciona que implementos vas a devolver</p>
<form>
    <div class="form-check">
        <input id="input-radio" #inputRadios type="checkbox" class="form-check-input" (click)="activarTablas()">
        <label for="input-radio">Radio</label>
    </div>
</form>
<table *ngIf="showRadios" class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="name">Radio</th>
            <th scope="col" sortable="name">Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let radio of this.radios; index as inx">
            <td>{{ radio.nombre}}</td>
            <td *ngIf="radio.disponible">Disponible</td>
            <td *ngIf="!radio.disponible">No Disponible</td>
            <td><input type="radio" (click)="this.radioSelected = inx+1"></td>
          </tr>
    </tbody>
</table>
<!--audifonos-->
<form>
    <div class="form-check">
        <input id="input-audifonos" #inputAudifonos type="checkbox" class="form-check-input" (click)="activarTablas()">
        <label for="input-audifonos">Audifonos</label>
    </div>
</form>
<table *ngIf="showAudifonos" class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="name">Audifono</th>
            <th scope="col" sortable="name">Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let audifono of this.audifonos; index as inx">
            <td>{{ audifono.nombre}}</td>
            <td *ngIf="audifono.disponible">Disponible</td>
            <td *ngIf="!audifono.disponible">No Disponible</td>
            <td><input type="radio" (click)="this.audifonoSelected = inx+1"></td>
          </tr>
    </tbody>
</table>
<!--kits-->
<form>
    <div class="form-check">
        <input type="checkbox" id="input-kit" #inputKits class="form-check-input" (click)="activarTablas()">
        <label for="input-kit">Kit de primeros auxilios</label>
        
    </div>
</form>
<table *ngIf="showKits" class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="name">Kit</th>
            <th scope="col" sortable="name">Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kit of this.kits; index as inx">
            <td>{{ kit.nombre}}</td>
            <td *ngIf="kit.disponible">Disponible</td>
            <td *ngIf="!kit.disponible">No Disponible</td>
            <td><input type="radio" (click)="this.kitSelected = inx+1"></td>
          </tr>
    </tbody>
</table>
<button class="btn btn-danger" (click)="desactivarBrigadista()">Desactivarme</button>

