<div *ngIf="this.user.user.perfil == 'BrigadistaLider'">
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #196844;">
    <a class="navbar-brand" routerLink="">Brigada Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/horarios">Horarios </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/brigadistas">Brigadistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/informes">Informes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="cerrarSesion()">Cerrar sesion</a>
          </li>
        </ul>
        <span class="navbar-text">Hola, Brigadista {{user.user.nombres}}</span>
      </div>
    
  </nav>
</div>
<div *ngIf="this.user.user.perfil == 'Brigadista'">
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #196844;">
    <a class="navbar-brand" routerLink="">Brigada Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/horarios">Horarios </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/brigadistas">Brigadistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/informes">Informes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="cerrarSesion()">Cerrar sesion</a>
          </li>
        </ul>
        <span class="navbar-text">Hola, Brigadista {{user.user.nombres}}</span>
      </div>
    
  </nav>
</div>