<div class="container">
    <form [formGroup]="this.form">
        <label>Correo:</label>
        <input class="form-control" type="text" placeholder="correo" formControlName="email">
        <label>contraseña:</label>
        <input class="form-control" type="text" placeholder="contraseña" formControlName="pass">
        <label>nombres:</label>
        <input class="form-control" type="text" placeholder="nombres" formControlName="nombres">
        <label>apellidos:</label>
        <input class="form-control" type="text" placeholder="apellidos" formControlName="apellidos">
        <button class="btn btn-success" (click)="agregarBrigadista()">Agregar</button>

    </form>
</div>