.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin-bottom: 3%;
}

h5 {
    margin: 10px
}

table{
    margin-left: 5%;
    margin-right: 5%;
}