.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.brigada_icon{
    height: 100;
}

input{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 300px;
}

img{
    height: 250px;
    width: 250px;
}

button{
    margin: 10px;
    width: 200px;
}


