<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" sortable="name">Brigadista</th>
                <th scope="col" sortable="area">Activo</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brigadista of this.brigadistas">
                <td>{{ brigadista.nombres + " " +brigadista.apellidos}}</td>
                <td *ngIf="brigadista.activo === true"><button class="btn btn-success"></button></td>
                <td *ngIf="brigadista.activo === false"><button class="btn btn-danger"></button></td>
              </tr>
        </tbody>
    </table>
</div>